.signupdiv{
    background-color: #51276b;
    color: white;
    width: 350px;
    height: 500px;
    text-align-last: center;
    margin-left: 700px;
    margin-top: -550px;
}
.inputfield1{
    padding: 5px 100px 5px 10px;
    background-color: #51276b;
    color: white;
    border-color:white ;

}